<h2 style="font-family:verdana;">Hello, I'm Adam, and I'm on Cloud 66 under protest.</h2>

My IP: <%= @my_ip %><br>
My Location: long: <%= request.location.longitude %> lat: <%= request.location.longitude %>

